# Part A

Importing the pandas and the Numpy libraries

In [1]:
import pandas as pd
import numpy as np

Reading the dataset

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Checking how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

Spliting data into predictors and target

As the target variable in this problem is the concrete sample strength, our predictors will be all the other columns.

In [4]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

In [5]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [6]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [7]:
n_cols = predictors.shape[1] 
n_cols

8

Importing Keras library and neccessary packages

In [18]:
import keras
from keras.models import Sequential
from keras.layers import Dense

<class 'ModuleNotFoundError'>: No module named 'keras'

In [9]:
# defining regression model
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Importing scikit-learn in order to randomly split the data into a training and test sets

In [10]:
from sklearn.model_selection import train_test_split

using 70% of data for training and the rest for testing

In [11]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

building the model

In [12]:
model = regression_model()

<class 'NameError'>: name 'Sequential' is not defined

we will train the model for 50 epochs

In [13]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

<class 'NameError'>: name 'model' is not defined

evaluating the model on test data.

In [14]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

<class 'NameError'>: name 'model' is not defined

we need to compute the mean squared error

In [15]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

<class 'NameError'>: name 'y_pred' is not defined

finding the mean and the standard deviation of the mean squared errors.

In [16]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

<class 'NameError'>: name 'model' is not defined